.icon.eff {
  position: absolute;
  width: 4.375em;
  right: 1%;
  transform: translateY(35%);
  top: 50%;
  filter: sepia(0.1);
}

:not(.icon-status).range {
  position: absolute;
  width: 4.375em;
  left: 1%;
  transform: translateY(-135%);
  top: 50%;
  background: url(../assets/card_structure/range.png) center center/contain no-repeat;
  mix-blend-mode: normal;
}

.range {
  background: url(../assets/card_structure/range.png) center center/contain no-repeat;
}

:not(.icon-status).dodge {
  position: absolute;
  width: 4.375em;
  left: 1%;
  transform: translateY(35%);
  top: 50%;
  background: url(../assets/card_structure/dodge.png) center center/contain no-repeat;
  mix-blend-mode: normal;
}

:not(.icon-status).stun {
  background: url(../assets/effects/stun.png) center center/contain no-repeat;
}

.stun {
  background: url(../assets/effects/stun.png) center center/contain no-repeat;
}

.armor {
  background: url(../assets/card_structure/armour.png) center center/contain no-repeat;
}

.blast {
  background: url(../assets/effects/blast.png) center center/contain no-repeat;
}

.poison {
  background: url(../assets/effects/poison.png) center center/contain no-repeat;
}

.iceblight {
  background: url(../assets/effects/ice.png) center center/contain no-repeat;
}

.sleep {
  background: url(../assets/effects/sleep.png) center center/contain no-repeat;
}

.paralysis {
  background: url(../assets/effects/paralysis.png) center center/contain no-repeat;
}

.freeze {
  background: url(../assets/effects/freeze.png) center center/contain no-repeat;
}

.freeze {
  background: url(../assets/effects/freeze.png) center center/contain no-repeat;
}

.icon.eff.effluvia {
  width: 3.375em;
  right: 5%;
  top: 53%;
}

/* DIRECTIONS */
.dir {
  position: absolute;
  width: 4.375em;
  aspect-ratio: 1;
  right: 1%;
  transform: translateY(-140%) translateX(10%);
  top: 50%;
  background: url(../assets/card_structure/behavior-arcs.png) center center/contain no-repeat;
}

.dir.node {
  background: url(../assets/card_structure/behavior-node.png) center center/contain no-repeat;
}

.dir .atk {
  background: url(../assets/card_structure/behavior-node.png) center center/contain no-repeat;
  font-size: 8px;
}

.dir .atkdir-9 {
  transform: translate(115%, -250%);
}

.dir .atkdir-8 {
  transform: translate(-50%, -300%);
}

.dir .atkdir-7 {
  transform: translate(-225%, -250%);
}

.dir .atkdir-6 {
  transform: translate(150%, -50%) rotate(90deg);
}

.dir .atkdir-4 {
  transform: translate(-250%, -50%) rotate(-90deg);
}

.dir .atkdir-3 {
  transform: translate(115%, 150%) rotate(-90deg);
}

.dir .atkdir-2 {
  transform: translate(-50%, 200%) rotate(180deg);
}

.dir .atkdir-1 {
  transform: translate(-215%, 150%) rotate(180deg);
}

.dir>div {
  position: absolute;
  width: 2em;
  aspect-ratio: 33/28;
  background: url(../assets/card_structure/behavior-arc.png) center center/contain no-repeat;
  top: 50%;
  left: 50%;
}

.dir .dir-8 {
  transform: translate(-50%, -140%);
}

.dir .dir-2 {
  transform: translate(-50%, 35%) rotate(180deg);
}

.dir .dir-4 {
  transform: translate(-120%, -50%) rotate(-90deg);
}

.dir .dir-6 {
  transform: translate(25%, -50%) rotate(90deg);
}

.ele {
  position: absolute;
  width: 2.75em;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  filter: saturate(1.25);
}

/* Elements */
.fire {
  background: url(../assets/effects/fire.png) center center/contain no-repeat;
}

.ice {
  background: url(../assets/effects/ice.png) center center/contain no-repeat;
}

.thunder {
  background: url(../assets/effects/thunder.png) center center/contain no-repeat;
}

.dragon {
  background: url(../assets/effects/dragon.png) center center/contain no-repeat;
}

.water {
  background: url(../assets/effects/water.png) center center/contain no-repeat;
}

/* Status effects */
.egg {
  background: url(../assets/monster_effects/egg.png) center center/contain;
}

.bleed {
  background: url(../assets/effects/bleed.png) center center/contain;
}

.bubble {
  background: url(../assets/monster_effects/bubble.png) center center/contain;
}

.bubble-off {
  background: url(../assets/monster_effects/offensive_bub.png) center center/contain;
}

.bubble-bliss {
  background: url(../assets/monster_effects/blissful_bub.png) center center/contain;
}

.effluvia {
  background: url(../assets/effects/effluvia.png) center center/contain;
}

.stench {
  background: url(../assets/effects/stench.png) center center/contain;
}

.bombs {
  background: url(../assets/monster_effects/bombs.png) center center/contain;
}

.dive {
  background: url(../assets/monster_effects/dive.png) center center/contain;
}

/* Monster dodge */
.m-dodge {
  background: url(../assets/monster_effects/m-dodge.png) center center/contain;
}

.ele.dir-8 {
  transform: translate(-50%, -175%);
}

.ele.dir-2 {
  transform: translate(-50%, 75%) rotate(180deg);
}

.ele.dir-4 {
  transform: translate(-175%, -50%) rotate(-90deg);
}

.ele.dir-6 {
  transform: translate(75%, -50%) rotate(90deg);
}

.thunder.dir-8 {
  transform: translate(-50%, -175%) rotate(180deg);
}

.thunder.dir-2 {
  transform: translate(-50%, 75%);
}

.thunder.dir-4 {
  transform: translate(-175%, -50%) rotate(90deg);
}

.thunder.dir-6 {
  transform: translate(75%, -50%) rotate(-90deg);
}


/* Special Icons */
.flash {
  background: url(../assets/monster_effects/flash.png) center center/contain;
}

.normal {
  background: url(../assets/card_structure/eye-normal.png) center center/contain;
}

.enraged {
  background: url(../assets/card_structure/eye-enraged.png) center center/contain;
  filter: saturate(2);
}

.search {
  background: url(../assets/card_structure/eye-search.png) center center/contain;
}

.sharpen {
  background: url(../assets/monster_effects/sharpen.png) center center/contain;
}

.dig {
  background: url(../assets/monster_effects/dig.png) center center/contain;
}

.tail {
  background: url(../assets/part/tail.png) center center/contain;
}

.dodge {
  background: url(../assets/card_structure/dodge.png) center center/contain no-repeat;
}

.scales {
  background: url(../assets/monster_effects/scales.png) center center/contain;
}

.fire-blade {
  background: url(../assets/monster_effects/fire-blade.png) center center/contain;
}

.avalanche {
  background: url(../assets/monster_effects/avalanche.png) center center/contain;
}

.railgun {
  background: url(../assets/monster_effects/railgun.png) center center/contain;
}

.amp {
  background: url(../assets/monster_effects/amp.png) center center/contain;
}

.shroom {
  background: url(../assets/monster_effects/shroom.png) center center/contain;
}

.xuwu-blade {
  background: url(../assets/monster_effects/xuwu-blade.png) center center/contain;
}

.arkface {
  background: url(../assets/monster_effects/arkface.png) center center/contain;
}

.vortex {
  background: url(../assets/monster_effects/vortex.png) center center/contain;
}

.vult {
  background: url(../assets/monster_effects/vult.png) center center/contain;
}

.rose {
  background: url(../assets/monster_effects/rose.png) center center/contain;
}

.floret {
  background: url(../assets/monster_effects/floret.png) center center/contain;
}

.rocket {
  background: url(../assets/monster_effects/rocket.png) center center/contain no-repeat;
}

.superblast {
  background: url(../assets/monster_effects/superblast.png) center center/contain no-repeat;
}

.reload {
  background: url(../assets/monster_effects/reload.png) center center/contain no-repeat;
}

.slime {
  background: url(../assets/monster_effects/slime.png) center center/contain no-repeat;
}

.hunter-turn {
  background: url(../assets/card_structure/behavior-hunter-turn.png) center center/contain no-repeat;
}

.hunter-attack {
  background: url(../assets/card_structure/behavior-hunter-attack.png) center center/contain no-repeat;
}

.frenzy {
  background: url(../assets/effects/frenzy.png) center center/90% no-repeat;
}

.gore-head {
  background: url(../assets/monster_effects/gore-head.png) center center/90% no-repeat;
}